.configs {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 173px;
    overflow-y: auto;
    padding: 5px 10px 5px 5px;
    color: #424242;
  }
  hr.horizontal {
    width: 100vw;
    height: 187px;
    border: 2px solid gray;
    position: fixed;
  }
  .info {
    padding-left: 10px;

  }  
  .configs h1 {
    padding-left: 10px;
  }
  .configs ul {
    padding: 0;
  }
  .configs li {
    padding: 6px 40px 6px 40px;
    text-decoration: none;
    color: #757575;
    font-size: 16px;
    display: flex;
  }
  hr.vertical {
    border: 1px solid gray;
    height: 100%;
    width: 0;
    left: 617px;
    top: 179px;
    overflow: hidden;
    position: fixed;
  }
  button.configslist {
    background-color: #616161;
    border: 3px solid #424242;
    color: #e0e0e0;
    padding: 10px 10px;
    font-size: 16px;
    text-decoration: none;
    display: inline;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
  }
  button.configslist:hover {
    background-color: #9e9e9e;
  }
  button.configslist.selected {
    background-color: #bdbdbd;
    color: #3685ad;
    border: 3px solid #607d8b;
  }